*, *:before, *:after {
  /* margin: 0; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: times;
  /* margin: 5px; */
  background-color: lightgrey;
}

/* .video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
      float: left;
    width: 100%;
      z-index: 1; */

}

*::-webkit-scrollbar {
  display: none;
}

.me {
  width: 17.5%;
  margin: 1% 0 1% 1%;
  padding: 0.8%;
  font-size: 2.5vw;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  background-color: white;
}

.title {
  width: 11.5%;
  margin: 1% 0 3% 1%;
  padding: 0.8%;
  font-size: 2.5vw;
  font-style: italic;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  background-color: white;
}

.abstract {
  width: 31.3%;
  margin: 1%;
  padding: 0.8%;
  font-size: 2.05vw;
  border-radius: 20px;
  line-height: 110%;
  -webkit-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  background-color: white;
}

.float-container {
  /* border: 3px solid #fff;
    padding: 20px; */
}

.float-child {
  width: 31.3%;
  height: auto;
  float: left;
  /* padding: 40px; */
  overflow: hidden;
  font-size: 3vw;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  margin: 1%;
  background-color: white;
  cursor: pointer;
}

.float-child2 {
  width: 48%;
  height: auto;
  float: left;
  /* padding: 40px; */
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  margin: 1%;
  background-color: white;
  cursor: pointer;
}

.float-child video {
  display: block;
  width: 100%;
  height: 100%;
}

.float-child img {
  display: block;
  width: 100%;
  height: 100%;
}

.float-child2 video {
  display: block;
  width: 100%;
  height: 100%;
}

.float-child2 img {
  display: block;
  width: 100%;
  height: 100%;
}

.project {
  /*margin-left: 35%;*/
  /* margin-bottom: 8px; */
  /* position: relative; */
  width: 100%;
  /* border: 1px solid black; */
  cursor: ew-resize;
  /* background-color: yellow; */
  /* -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.41);
-moz-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.41);
box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.41); */
}

.project-item {
  position: relative;
  background-color: white;
  /* width: auto; */
  height: auto;
  display: inline-block;
  overflow: hidden;
  /* margin: 0 0 0% 0%; */
  /* border: 1px solid black; */
  border-radius: 20px;
  /* box-shadow: 5px 10px 18px #888888; */
  -webkit-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  margin: 1%;
  font-size: 20px;
  cursor: pointer;
}

.project-item2 {
  position: relative;
  /* background-color: green; */
  /* width: 100%; */
  height: 1080px;
  display: inline-block;
  overflow: hidden;
  /* margin: 0 0 0% 0%; */
  /* border: 1px solid black; */
  border-radius: 20px;
  /* box-shadow: 5px 10px 18px #888888; */
  -webkit-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  margin: 1%;
  font-size: 20px;
  cursor: pointer;
}

.project-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.project-item video {
  display: block;
  width: 100%;
  height: 100%;
}

.project-item2 video {
  display: block;
  width: auto;
  height: 100%;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

input[type=checkbox] {
  display: none;
}

.float-child3 {
  width: 31.3%;
  height: auto;
  float: left;
  /* padding: 40px; */
  overflow: hidden;
  font-size: 3vw;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  margin: 1%;
  background-color: white;
  cursor: zoom-in;
  transition: transform 0.25s ease;
}

.float-child3 video {
  display: block;
  width: 100%;
  height: 100%;
}

.float-child3 img {
  display: block;
  width: 100%;
  height: 100%;
}

.float-child3 img:active {
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: zoom-out;
}

input[type=checkbox]:checked~label>img {
  transform: scale(2);
  cursor: zoom-out;
}

.float-child4 {
  width: 64.5%;
  height: auto;
  float: left;
  /* padding: 40px; */
  overflow: hidden;
  font-size: 3vw;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 18px -2px rgba(0, 0, 0, 0.54);
  margin: 1%;
  background-color: white;
  cursor: zoom-in;
  transition: transform 0.25s ease;
}

.float-child4 video {
  display: block;
  width: 100%;
  height: 100%;
}

.float-child4 img {
  display: block;
  width: 100%;
  height: 100%;
}
